#include <iostream>
#include <string>
using namespace std;

void main()
{

	// Month ("january", "february", "may", "april", " march", "june", "july", "august", "september", "october", "november", "december");
	
	int counter = 0;
	cout << "Vvedite meciac: ";
	cin >> counter;

	switch ( counter )
	{
	case 1: cout << "January\n"; break;
	case 2: cout << "February\n"; break;
	case 3: cout << "May\n"; break;
	case 4: cout << "April\n"; break;
	case 5: cout << "March\n"; break;
	case 6: cout << "June\n"; break;
	case 7: cout << "July\n"; break;
	case 8: cout << "August\n"; break;
	case 9: cout << "September\n"; break;
	case 10: cout << "October\n"; break;
	case 11: cout << "November\n"; break;
	case 12: cout << "December\n"; break;
	default: cout << "Vu mozhete vvodit tolko -0 && >12\n";
	}

	
	
	system ("pause");
}
// тернарный способ решения этой задачи
/*
#include <iostream>
using namespace std;

void main()
{
	int manth;
	cout << "Autor: Biruikov_Oleksandr \<25PR21\>" << endl;
	cout << "Enter the namber of monhts of the year - ";
	cin >> manth;
	cout << (
		manth==1 ? "\tJanuary"   :
		manth==2 ? "\tFabruary"  :
		manth==3 ? "\tMarch"     :
		manth==4 ? "\tApril"     :
		manth==5 ? "\tMay"       :
		manth==6 ? "\tJune"      :
		manth==7 ? "\tJuly"      :
		manth==8 ? "\tAugust"    :
		manth==9 ? "\tSeptember" :
		manth==10? "\tOctober"   :
		manth==11? "\tNovember"  :
		manth==12? "\tDecember"  :
		"Year only 12 month!"
		) << endl;

}
